/*-----------------------------------------
                   Fonts
 ------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* --------------------------------------------------Headers-------------------------------------------- */
.title-bar{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
    font-weight: 600;
}
nav a img{
    width: 19px;
    height: 19px;
}

/*----------------------------------------- ---Mains------------------------------------------------------- */

.first-heading{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
}
.first-h1{
    font-size: 2em;
}
.half-width{
    width: 45%;
}
p{
    font-size: 16px;
    font-weight: 700;
}
.prebook-button button{
    height: 44px;
    width: 196px;
    background-color: rgb(243, 22, 125);
    border-radius: 25px;
    border: 1px solid rgb(243, 22, 125);
     }
.first-button a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: white;
    padding-right: 8px;
}

.camera-image {
    background-color: white;
    height: 475px;
    width: 475px;
    border: 2.5px solid rgba(214, 206, 214, 0.466);
    border-radius: 50%; 
    margin-top: 3em;
   }
   
.fa-arrow-right{
    padding-left: 12px;
   }
  
#first-hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.034), rgba(134, 179, 207, 0.685), rgba(0, 0, 0, 0.034));
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 70px;
    }
  
.ecommerce-logo{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;

    }
  #second-hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.034), rgba(134, 179, 207, 0.685), rgba(0, 0, 0, 0.034));
    margin-left: 150px;
    margin-right: 150px;
    }
    .popular-h3{
        font-size: 28px;
        text-align: center;
        padding-top: 70px;
    }
    .all-boxes{
        margin-left: 20%;
        margin-right: 20%;
        display: flex;
        justify-content: center;
    }
    .box-section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 20px;
      
    }
   .box-shadow{
       box-shadow: 10px 10px 15px  rgba(180, 180, 180, 0.212), -10px 0 15px rgba(180, 180, 180, 0.212);
       
   }
   .box-element{
       padding-left: 15px;
       padding-top: 15px;
       padding-right: 15px;
   }
   .box-element img{
    display: flex;
    justify-content: center;
   }
.font-h2{
    font-weight: 600;
}
.price-h2{
    font-weight: 400;
}
.worldwide-paragraph{
    font-size: 15px;
    font-weight: 800;
    color: gray;
}


.fa-star{
    color: orange;
    font-size: 10px;
}
.fa-star-half-alt{
    font-size: 10px;
    color: orange;
}
span{
    font-size: 14px;
    font-weight: 400;
    color: gray;
}
  #see-more{
      display: flex;
      justify-content: right;
    text-decoration: none;
    color: rgb(243, 22, 125);
    font-size: 16px;
    font-weight: 700;
    margin-top: 3em;
    margin-right: 10%;
    align-items: center;
}  
.last-section{
    display: flex;
    justify-content: center;
    margin-top: 6em;
}
.last-h1{
    font-size: 33px;
    font-weight: 800;
}
.last-button a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: white;
    
    
} 
.last-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    background-color: rgb(243, 22, 125);
    border: 1px solid rgb(243, 22, 125);
     }
.last-feature{
    width: 40%;
}


/* ---------------------------------------Footers portion------------------------------------------------ */

.footer-section{
    background-color: rgb(7, 7, 44);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.fa-copyright{
    font-size: 10px;
}
.footer-icon{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em;
}
#footer-id{
    display: flex;
    justify-content: center;
    align-items: center;
}
    
/* -----------------------------------------Media Queries--------------------------------------------------- */

@media only screen and (max-width:688px) {
nav a{
    display: none;
}
.title-bar h2{
    font-size: 26px;
    text-align: center;
}
.first-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.half-width{
    width: 100%;
}
.camera-image{
    height: 375px;
}
.camera-image img{
    width: 375px;
}
hr{
    display: none;
}
.ecommerce-logo{
    display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-content: center;
   grid-row-gap: 10px;
   grid-column-gap: 12px;
   margin-top: 4em;
   
   
   }
   .box-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
   }
   .last-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 6em;
   }
    .last-feature{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    .last-feature img{
        width: 90%;
    }
    .last-button{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 200px;
        background-color: rgb(243, 22, 125);
        border: 1px solid rgb(243, 22, 125);
        text-align: center;
        margin-bottom: 3em;
        margin-top: 4em;
         }
         .last-button a{
            text-decoration: none;
            font-size: 24px;
            font-weight: 700;
            color: white;
         }
         